.changeCharacterAvatar {
    left: 0;
} .deleteCharacter {
    right: 0;
} .deleteCharacter:hover > svg {
    fill: var(--red);
} .characterUrlAvatar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    opacity: 1;
    filter: brightness(100%) !important;
    transition: 0.2s;
} .characterUrlAvatar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    border-image: url("../../../../img/inregularborder.png") 40 stretch;
    background: var(--white);
    filter: brightness(12%);
    background-clip: content-box;
    z-index: -1;
    transition: 0.2s;
}  .characterUrlAvatar > input {
    width: 100%;
    height: 1.5rem;
    background: var(--gray-200);
    border: 0;
    padding: 0 0.5rem;
    box-shadow: inset 0px 0px 5px var(--black);
} 