.historyRollDiceContainer {
    position: fixed;
    left: 0;
    top: 4rem;
    width: 8rem;
    height: 24rem;
    max-height: 24rem;
    z-index: 2;
    transition: 0.27s;
} .historyRollDiceContainer::before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    border: 8px solid transparent;
    border-image: url("../../img/inregularborder.png") 15 stretch;
    border-left: 0;
    background: var(--white); 
    filter: brightness(10%);
    background-clip: content-box;
    z-index: -1;
}

.historyRollDiceContainer > .arrowToHover{
    position: absolute;
    right: 0;
    top: 0;
    width: 2.25rem;
    height: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: -2.25rem;
    margin-top: 1.5rem;
} .historyRollDiceContainer > .arrowToHover::before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    border: 8px solid transparent;
    border-image: url("../../img/inregularborder.png") 15 stretch;
    border-left: 0;
    background: var(--white); 
    filter: brightness(10%);
    background-clip: content-box;
    z-index: -1;
}

.historyRollDiceContainerContent {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin-top: 12px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;

}

.resultLastRoll {
    max-width: calc(8rem - 0.5rem - 12px);
    width: calc(8rem - 0.5rem - 12px);
    min-height: 6rem;
    max-height: 6rem;
    border: 1px solid var(--gray-700);
    border-radius: 4px;
    background-clip: content-box;
}