.protectionAndResistance {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    width: 18rem;
    height: min-content;
} .protectionAndResistance::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 6px solid transparent;
    border-image: url("../../../../../../../../img/inregularborder.png") 15 stretch;
    background: var(--white); 
    filter: brightness(20%);
    background-clip: content-box;
    z-index:-1;
}

.protectionAndResistance > .protectionAndResistanceHeader {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0.25rem 0;
}

.protectionAndResistanceHeader > input{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--white);
    width: 8rem;
}

.protectionAndResistance > div {
    display: block;
    max-width: 20rem;
    overflow: hidden;
} .protectionAndResistance > div > span {
    position: relative;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    border: 1px solid var(--white);
    padding: 0.1rem 0.25rem;
    float: left;
    gap: 0.25rem;
} .protectionAndResistance > div > span > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: transparent;
}.protectionAndResistance > div > span > button > svg {
    transition: 0.2s;
} .protectionAndResistance > div > span > button:hover > svg {
    fill: var(--red);
}