.movementContainer {
    height: 1.5rem;
    width: 16rem;
}

.movement {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--gray-300);
    width: auto;
    background: var(--gray-100);
    padding-right: 0.5rem;
}

.movement input {
    width: 3.75rem;
    height: 2.5rem;
    font-size: 1.75rem;
    text-align: center;
    background: transparent;
    border: 0;
}

.movement p {
    font-size: 1.75rem;
}