.roll {
    display: flex;
    flex-direction: row;
    height: 1.75rem;
}

.roll > * {
    margin: 0 0.15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    height: 1.5rem;
    background: transparent;
    border: 0;
    font-size: 0.75rem;
} .roll > * > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    height: 1.5rem;
    background: transparent;
    border: 0;
    font-size: 0.75rem;
} .roll > select > option{
    background: var(--gray-100);
    font-size: 0.75rem;
} .roll > select, .roll > input, .roll > span > input { 
    border-bottom: 1px solid var(--white);
    appearance: none;
    text-align: center;
} .roll > .testOrdDamage {
    width: 4rem;
} .roll > select {
    width: 3rem;
} .roll > input, .roll > span > input { 
    height: 1.5rem;
    width: 2rem;
} .roll > .damageType {
    width: 8rem;
} .roll > button {
    filter: brightness(70%);
    cursor: pointer;
} .roll > button:hover {
    filter: brightness(100%);
} .roll > button > svg {
    transition: 0.2s;
} .roll > button:hover > svg {
    fill: var(--red);
}

.roll > .critical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8rem;
    position: relative;
} .critical > select {
    min-width: 1.5rem;
    appearance: none;
    border: 0;
    border-bottom: 1px solid var(--white);
    text-align: center;
} .critical > select > option {
    appearance: none;
    font-size: 0.75rem;
    background: var(--gray-100);
    border: 0;
    text-align: center;
} .critical > .dicesOrTotal {
    width: 2.5rem;
} .critical > input {
    max-width: 1.5rem;
    appearance: none;
    border: 0;
    border-bottom: 1px solid var(--white);
    text-align: center;
} .critical > p {
    position: absolute;
    margin-bottom: -2.45rem;
    font-size: 0.6rem;
    letter-spacing: 0.25rem;
    justify-content: center;
    align-items: center;
}


.damageType > option[value="knowledge"] {
    color: var(--knowledge-light);
    border-bottom: 1px solid var(--knowledge-light);
}
.damageType > option[value="energy"] {
    color: var(--energy-light);
    border-bottom: 1px solid var(--energy-light);
}
.damageType > option[value="death"] {
    color: var(--death-light);
    border-bottom: 1px solid var(--death-light);
}
.damageType > option[value="blood"] {
    color: var(--blood-light);
    border-bottom: 1px solid var(--blood-light);
}
.damageType > option[value="fear"] {
    color: var(--fear-light);
    border-bottom: 1px solid var(--fear-light);
}
.damageType > option[value="fire"] {
    color: var(--fire-light);
    border-bottom: 1px solid var(--fire-light);
}
.damageType > option[value="cold"] {
    color: var(--cold-light);
    border-bottom: 1px solid var(--cold-light);
}
.damageType > option[value="chemical"] {
    color: var(--chemical-light);
    border-bottom: 1px solid var(--chemical-light);
}
.damageType > option[value="mental"] {
    color: var(--mental-light);
    border-bottom: 1px solid var(--mental-light);
}