:root {
    --white: #FFF;
    --black: #000;
    --gray-100: #222222;
    --gray-100-33: #222222a7;
    --gray-200: #2c2c2c;
    --gray-300: #343434;
    --gray-400: #424242;
    --gray-700: #8e8e8e;
    --polaroid: #ddd5c9;
    --black-10-percent: #0000007a;
    --black-70-percent: #000000f2;
    --blue: #255bff;
    --green: #18AD4A;
    --red: #FA413C;
    --purple: #48064a;
    --dark-blue: #021039;


    --blood: #200001;
    --knowledge: #bf9100;
    --energy: #9a00fd;
    --death: #000;
    --fear: #adadadbe;

    --blood-light: #5e2729;
    --knowledge-light: #685823;
    --energy-light: #4b2463;
    --death-light: #0f0f0f;
    --fear-light: #ffffff26;

    --bludgeoning: #FFF;
    --slash: #FFF;
    --piercing: #FFF;
    --ballistic: #FFF;
}

* {
    font-size: 1rem;
    color: var(--white);
    font-family: 'Courier Prime', monospace;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    background: var(--gray-100);
    background-image: url("./img/OrdoRealitas.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--gray-200);
}

::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    width: 3px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    appearance: none; 
    margin: 0; 
}